body::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #6087b8;
}

body::-webkit-scrollbar-track-piece {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: rgb(0, 80, 179);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 115, 255);
}