.username, .password{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.username .icon{
    width: var(--iconDiv);
    height: var(--iconDiv);
    background: url("../src/img/icons/userIcon.svg") no-repeat center;
    background-size: 35px;
}

.password .icon{
    width: var(--iconDiv);
    height: var(--iconDiv);
    background: url("../src/img/icons/passIcon.svg") no-repeat center;
    background-size: 35px;
}

.usernameField, .passwordField{
    height: 30px;
    width: 180px;
    padding: 0 10px 0 10px;
    border: 2px solid #a0a0a0;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: "roboto-bold";
    font-size: 14px;
    transition: 500ms;
    margin-bottom: 10px;
}

.usernameField:focus, .passwordField:focus{
    background-color: #eee;
    text-transform: none;
    font-family: "roboto-regular";
    font-size: 14px;
    transition: 500ms;
}

.usernameField:hover, .passwordField:hover{
    background-color: #eee;
    transition: 500ms;
}

.usernameField::placeholder, .passwordField::placeholder{
    text-transform: uppercase;
    text-align: center;
    font-family: "comic-style";
    font-size: 9px;
    transition: 500ms;
}

.remind{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.remind label{
    font-family: "comic-style";
    text-transform: uppercase;
    font-size: 8px;
    color: #000;
}

.checkbox{
    height: 14px;
    width: 14px;
}

.log button{
    height: 30px;
    width: 100px;
    border: 3px solid #a0a0a0;
    border-radius: 10px;
    background-color: white;
    transition: 500ms;
    font-family: "comic-style";
    font-size: 10px;
    text-transform: uppercase;
}

.log button:hover{
    cursor: crosshair;
    border: 3px solid #888;
    background-color: #eee;
    transition: 500ms;
}

.log button:active{
    background-color: #ccc;
    border: 3px solid rgb(99, 99, 99);
    transition: 500ms;
}