*{
    margin:0;
    padding:0;
  }

  .container{
    width:960px;
    height:720px;
    background-color:rgb(116, 0, 0);
    margin:0 auto;
    position:relative;
  }

  .casa{
    width:350px;
    height:280px;
    background-color:Brown ;
    position:absolute;
    bottom:200px;
    left:20%;
  }
  
  .tejado{
     width:270px;
    height:170px;
    border-left: 60px solid transparent;
      border-right: 60px solid transparent;
   border-bottom: 100px solid #555;
    position:absolute;
    bottom:470px;
    left:18%;
  }

  .ventana1{
    width:80px;
    height:70px;
    background-color:black;
    position:absolute;
    bottom:30px;
    left:10%;
  }

  .barrote1{
    width:80px;
    height:10px;
    background-color:silver;
    position:absolute;
    bottom:55px;
    left:10%;
  }

  .ventana2{
    width:80px;
    height:70px;
    background:#444 url('https://media2.giphy.com/media/47GPQ7ZzivsemHKPvB/giphy.gif?cid=6c09b952asv94nsdc1hr8b5vqnzhd8qsufqgnb1vmo8xvti4&rid=giphy.gif&ct=s') no-repeat center;
  background-size:contain;
   z-index:100;
    position:absolute;
    bottom:170px;
    left:67%;
  }

  .barrote2{
    width:80px;
    height:10px;
    background-color:silver;
    position:absolute;
    bottom:195px;
    left:67%;
  }

  .barrote4{
    width:70px;
    height:10px;
    background-color:silver;
    position:absolute;
    bottom:199.5px;
    left:68.5%;
    transform:rotate(90deg);
  }

  .barrote3{
    width:70px;
    height:10px;
    background-color:silver;
    position:absolute;
    bottom:60px;
    left:11.5%;
    transform:rotate(90deg);
  }

  .puerta{
    width:80px;
    height:130px;
    background-color:Red ;
    position:absolute;
    bottom:0;
    left:60%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .pomo{
     width:20px;
    height:20px;
    background-color:#444;
    border-radius:50%;
    position:absolute;
    bottom:50px;
    right:10%;
  }
  
  .chimenea{
    width:30px;
    height:70px;
    background-color:#444;
    position:absolute;
    bottom:530px;
    right:700px;
    /* transform:rotate(30deg) */
  }

  .sol{
    width:100px;
    height:100px;
    background-image:radial-gradient(rgb(255, 125, 125), rgb(114, 0, 0), rgb(255, 65, 65));
    border-radius:50%;
    position:absolute;
    top:50px;
    /* left:5%; */
    right: 5%;
    box-shadow:0px 0px 300px blue;
  }

  .tronco{
    background:#555 ;
      width:36px;
    height:270px;
    position:absolute;
    bottom:75px;
    left:80%;
  }

  .copa{
    background:#aaa;
    width:139px;
    height:200px;
    position:absolute;
    bottom:275px;
    left:74.6%;
    border-radius:45%;
  }

  .copa2{
     background:#aaa;
    width:130px;
    height:200px;
    position:absolute;
    bottom:375px;
    left:75%;
    border-radius:100%;
  }

  .manzana1,.manzana2,.manzana3{
    background:red;
   width:15px;
   height:15px;
   position:absolute;
    border-radius:50%;  
  }

  .manzana1{
    bottom:20px;
    left:75%;
  }

  .manzana2{
    bottom:204px;
    left:60%;
  }

  .manzana3{
    bottom:104px;
    left:15%;
  }

  .name{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;

    font-family: fantasy;
    -webkit-text-stroke: 1px black;
    
    animation: rgb 5s infinite;
}

@keyframes rgb {
    0% {
        color: red;
    }
    25% {
        color: green;
    }
    50% {
        color: blue;
    }
    75% {
        color: yellow;
    }
    100% {
        color: red;
    }
}