a{
    color: white;
}

h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
}

h4{
    margin-bottom: 0px;
    color: white;
}

.p1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.p2{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.p3{
    font-weight: 900;
    text-shadow: 4px 4px 4px blue;
}

.contDiv{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div1, .div2, .div3{
    width: 350px;
    height: 200px;
    border-radius: 25px;
    padding: 10px;
}

.div1{
    background-color: red;
}

.sDiv1, .sDiv2{
    display: flex;
    justify-content: flex-start;
}

.aSDiv11, .aSDiv12, .aSDiv13{
    width: 100px;
    height: 50px;
    margin-right: 5px;
}

.aSDiv11{
    background-color: brown;
}

.aSDiv12{
    background-color: green;
}

.aSDiv13{
    background-color: blue;
}

.div2{
    background-color: black;
}

.sDiv2{
    display: flex;
    flex-direction: column;
}

.aSDiv21, .aSDiv22, .aSDiv23{
    width: 100px;
    height: 50px;
}

.aSDiv21{
    background-color: red;
}

.aSDiv22{
    background-color: green;
}

.aSDiv23, .div3{
    background-color: blue;
}

.aSDiv31, .aSDiv32, .aSDiv33{
    text-decoration: none;
    transition: 200ms;
}

.aSDiv31:hover, .aSDiv32:hover, .aSDiv33:hover{
    transition: 500ms;
}

.aSDiv31:hover{
    color: lime;
}

.aSDiv32:hover{
    color: rgb(212, 100, 138);
}

.aSDiv33:hover{
    color: rgb(255, 255, 0);
}