a{
    color: white;
}

h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
}

h4{
    margin-bottom: 0px;
    color: white;
}

.p1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.p2{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.p3{
    font-weight: 900;
    text-shadow: 4px 4px 4px blue;
}

.contDiv{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div1{
    background-color: red;
    width: 400px;
    height: 200px;
    border-radius: 25px;
}

.sDiv1{
    display: flex;
    justify-content: flex-start;
}

.aSDiv11{
    width: 100px;
    height: 50px;
    background-color: brown;
    margin-right: 5px;
}

.aSDiv12{
    width: 100px;
    height: 50px;
    background-color: green;
    margin-right: 5px;
}

.aSDiv13{
    width: 100px;
    height: 50px;
    background-color: blue;
    margin-right: 5px;
}

.div2{
    background-color: black;
    width: 400px;
    height: 200px;
    border-radius: 25px;
}

.sDiv2{
    display: flex;
    flex-direction: column;
}

.aSDiv21{
    width: 100px;
    height: 50px;
    background-color: red;
}

.aSDiv22{
    width: 100px;
    height: 50px;
    background-color: green;
}

.aSDiv23{
    width: 100px;
    height: 50px;
    background-color: blue;
}

.div3{
    background-color: blue;
    width: 400px;
    height: 200px;
    border-radius: 25px;
}

.sDiv2{
    display: flex;
    align-items: flex-start;
}

.aSDiv31{
    text-decoration: none;
    transition: 200ms ;
}

.aSDiv32{
    text-decoration: none;
    transition: 200ms ;
}

.aSDiv33{
    text-decoration: none;
    transition: 200ms ;
}

.aSDiv31:hover{
    color: limegreen;
    transition: 500ms;
}

.aSDiv32:hover{
    color: rgb(255, 130, 234);
    transition: 500ms;
}

.aSDiv33:hover{
    color: black;
    transition: 500ms;
}